.NavLink {
    display: flex;
    height: 42px;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 0.5rem; 
    background-color: #feffdb; 
    font-size: 1.1rem; 
    font-weight: 500; 
    transition: background-color 0.3s ease, color 0.6s ease; 
    color: #444444;
    border-radius: 0.375rem; 
  }

  .NavLink:hover {
    background-color: #444444; 
    color: #ffc60b; 
  }
  
  @media (min-width: 768px) {
    .NavLink {
      flex-grow: 0; 
      justify-content: flex-start; 
      padding: 0.5rem;
      padding-left: 0.75rem; 
      padding-right: 0.75rem; 
    }
  }
  