.SideNav {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding-left: 0.75rem; 
    padding-right: 0.75rem; 
    padding-top: 1rem; 
    padding-bottom: 1rem; 
    background-color: #feffdb;
  }
  
  @media (min-width: 768px) {
    .SideNav {
      padding-left: 0.5rem; /* md:px-2 */
      padding-right: 0.5rem; /* md:px-2 */
    }
  }
  
  .NavBar {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem; /* space-x-2 */
  }
  
  @media (min-width: 768px) {
    .NavBar {
      flex-direction: column; /* md:flex-col */
      gap: 0; /* md:space-x-0 */
      gap: 0.5rem; /* md:space-y-2 */
    }
  }
  
  .NavBarFooter {
    display: none; /* hidden */
    height: auto; /* h-auto */
    width: 100%; /* w-full */
    flex-grow: 1;
    border-radius: 0.375rem; /* rounded-md */
    background-color: #feffdb; /* bg-gray-50 */
  }
  
  @media (min-width: 768px) {
    .NavBarFooter {
      display: block;
    }
  }

  .NavBarHeader {
    height: 6rem; 
    display: flex;
    flex-shrink: 0; 
    align-items: flex-end;
    background-color: #444444; 
    padding: .8rem; 
    margin-bottom: 0.5rem;
  }
  
  @media (min-width: 768px) {
    .NavBarHeader {
      height: 6rem; 
    }
  }
  
  