// COLORS
$primary-color: #444444;
$secondary-color: #F4CE14;
$tertiary-color: #FEFFDB;
$light-background: #eeeeee;

//FONTS
$main-font: 'Poppins';
$default-font:'Roboto';

@font-face{
    src: url("https://fonts.googleapis.com/css?family=Poppins") format("woff2");
    font-family: "Poppins";
}