@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../design.scss';

body {
  background-image: url('/background-tile.png');
  background-color: $tertiary-color;
}

*{
  border: 0px dotted #cc0000;
}

.RootLayout {
  font-family:$main-font, $default-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
