@import "../../design.scss";

* {
  border: 0px dotted #cc0000;
}

.LoginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.LoginContent {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  max-width: 400px;
  flex-direction: column;
  gap: 0.625rem;
  padding: 0.8rem;
  margin-top: -8rem;
}

.LoginHeader {
  display: flex;
  height: 9rem;
  width: 100%;
  align-items: flex-end;
  background-color: $primary-color;
  padding: 0.75rem;
  box-shadow: 2px 2px 5px #000;
}

.LoginFooter {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: $tertiary-color;
  padding: 0.5rem;
}

.Form {
  width: 100%;
  max-width: 400px;
}

.FormContent {
  flex: 1;
  background-color: $primary-color;
  color: $tertiary-color;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  padding-top: 2rem;
  box-shadow: 2px 2px 5px #000;
}

.FormLabel {
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 0.5rem;
}

.FormInput {
  display: block; /* block */
  width: 100%; /* w-full */
  border-radius: 0.375rem; /* rounded-md */
  border: 1px solid #e5e7eb; /* border border-gray-200 */
  padding-top: 9px; /* py-[9px] */
  padding-bottom: 9px; /* py-[9px] */
  padding-left: 2.5rem; /* pl-10 */
  font-size: 0.875rem; /* text-sm */
  outline-width: 2px; /* outline-2 */
  color: #444;
}

.FormInput::placeholder {
  color: #6b7280; /* placeholder:text-gray-500 */
}

.FormInputIcon {
  pointer-events: none;
  position: absolute;
  left: 0.75rem; /* left-3 */
  top: 50%; /* top-1/2 */
  height: 18px; /* h-[18px] */
  width: 18px; /* w-[18px] */
  transform: translateY(-50%); /* -translate-y-1/2 */
  color: #6b7280; /* text-gray-500 */
}
